@media screen and (min-width: 375px){

    /* Conteneur Flex des annonces */
    .bloc-recommander {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .annonce-bloc {
        flex: 1 1 calc(33.333% - 40px); /* 3 colonnes max */
        max-width: 105px;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        transition: transform 0.3s, box-shadow 0.3s;
        cursor: pointer;
        padding: 5px;
    }


    .annonce-image {
        width: 100%;
        height: 100px;
        object-fit: cover;
        border-radius: 5px;
    }

    .annonce-details {
        padding: 2px;
    }

    .annonce-titre {
        font-size: 0.6rem;
        text-align: center;
        color: #333;
        font-weight: 600;
        margin-bottom: 5px;
        text-transform: uppercase;
        letter-spacing: 1px;
        white-space: nowrap;         /* Empêche le retour à la ligne */
        overflow: hidden;            /* Cache le texte qui dépasse */
        text-overflow: ellipsis;     /* Ajoute les "..." à la fin */
        max-width: 100%;             /* S'assure que ça ne dépasse pas le conteneur */
    }

    .annonce-lieu, .annonce-personnes, .annonce-prix {
        font-size: 0.5rem;
        color: #666;
        margin: 2px 0;
    }

    .annonce-prix {
        font-weight: bold;
        color: #e74c3c;
    }
}

/* Adaptation responsive */
@media screen and (min-width: 480px) {

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {

    /* Conteneur Flex des annonces */
    .bloc-recommander {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .annonce-bloc {
        max-width: 300px;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        transition: transform 0.3s, box-shadow 0.3s;
        cursor: pointer;
        padding: 5px;
    }

    .annonce-bloc:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    }

    .annonce-image {
        width: 100%;
        height: 220px;
        object-fit: cover;
        border-radius: 5px;
    }

    .annonce-details {
        padding: 15px;
    }

    .annonce-titre {
        font-size: 1.5rem;
        text-align: center;
        color: #333;
        font-weight: 600;
        margin-bottom: 30px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .annonce-lieu, .annonce-personnes, .annonce-prix {
        font-size: 0.9rem;
        color: #666;
        margin: 3px 0;
    }

    .annonce-prix {
        font-weight: bold;
        color: #e74c3c;
    }
}
